<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jef.datasync.mapper.DepartmentMapper">

    <update id="createTemplateTable">
        CREATE TABLE base_department_temp LIKE base_department;
    </update>

    <insert id="copyDataToTemplateTable">
        INSERT INTO base_department_temp
        SELECT *
        FROM base_department;
    </insert>

    <update id="deleteAllData">
        update base_department_temp
        set deleted =1
    </update>

    <update id="invalid">
        rename
        table  base_department to base_department_deleting
    </update>

    <update id="effect">
        rename
        table
        ${newTableName}
        to
        base_department
    </update>

    <update id="deleteTable">
        drop table base_department_deleting
    </update>

    <delete id="cleanTempData">
        delete
        from base_department_temp
        where deleted = 1
    </delete>

    <update id="deleteAllData">
        update base_department_temp
        set deleted =1
    </update>

    <delete id="cleanTempData">
        delete
        from base_department_temp
        where deleted = 1
    </delete>
</mapper>