<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jef.datasync.mapper.RelationMapper">

    <update id="createTemplateTable">
        CREATE TABLE base_relation_temp LIKE base_relation;
    </update>

    <update id="invalid">
        rename
        table  base_relation to base_relation_deleting
    </update>

    <update id="effect">
        rename
        table
        ${newTableName}
        to
        base_relation
    </update>

    <update id="deleteTable">
        drop table base_relation_deleting
    </update>

</mapper>